*
{
	margin: 0;
	padding: 0;
	
}
header{
	height: 100vh;
	background: url(paris.jpg);
	background-size: cover;

}	
.menu{
	
	font-size: 30px;
	display: flex;
	justify-content: flex-end;

}

.item{
	color:#000;
}

.titulo{
	width: 100%;
	font-size: 110px;
	color: #000;
	display: flex;
	justify-content: center;
	margin-top: 20%;
	
	
}